/* затемнённый фон */
.image-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.8);

    overflow: auto; /* 🔥 ВАЖНО */
    
    display: flex;
    justify-content: center;
    align-items: flex-start; /* 🔥 чтобы начиналась сверху */
    
    padding: 40px;
}

/* увеличенная картинка */
.image-overlay img {
    max-width: none;   /* 🔥 убираем лимит */
    max-height: none;

    width: auto;
    height: auto;

    border-radius: 10px;

    transform: scale(1.5); /* или 2 */
    transform-origin: top center;
    max-width: 900px; /* или 1500px */
}

@keyframes zoomIn {
    from { transform: scale(0.7); opacity: 0; }
    to { transform: scale(1); opacity: 1; }
}

.zum {
    cursor: zoom-in;
    transition: transform 0.2s ease;
}

.zum:hover {
    transform: scale(1.05);
}